.reserve{
    width: 100vw;
    height: 80vh;    
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgba(0, 0, 0, 0.306);
    z-index: 999;
}
.rcon{
    background-color: white;
    padding: 20px;
    position: relative;
    font-size: 20px;       
    width: 500px;
    height: 580px;
    overflow: scroll;    
    display: flex;
    flex-direction: column;
    gap: 10px;    
    margin-top: 80px;    
}

.ricon{
    position: fixed;
    top: 6%;
    right: 29.5%;
    cursor: pointer; 
    margin-top: 48px;
    margin-right: 50px;                    
    z-index: 1;    
}
.ricon:hover{
    color: red;
}
.ritem{
    display: flex;
    align-items: center;    
    padding: 10px;            
    height: max-content;
    justify-content: space-between;
    border: 1px solid gray;            
    margin-top: 30px;
}
.riteminfo{
    display: flex;
    flex-direction: column;
    gap: 10px;    
}
.rbtn{
    border: none;
    background-color: #0071c2;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    width: 150px;
    text-align: center; 
    width: 32.8%;
    position: fixed;
    bottom: 0; 
    margin-bottom: 5px;   
}
.rbtn:hover{
    background-color: black;
    color: white;
}
.rrtitle{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 450px;    
    position: fixed;
    border-bottom: 1px solid black;
    top: 11%;

}
.rtitle{
    color: #0071c2;
    font-weight: 500;
}
 
.rdesc{
    color: rgba(0, 0, 0, 0.405);
}
.rprice{
    font-weight: 700;
}
.selectrooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 10px;
    color: gray;
}
.room{
    display: flex;
    flex-direction: column;        
}
.load{
    position: absolute;
    z-index: 999;    
    width: 100%;
    height: 100vh;    
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
    
.three{
    margin-top: -100px;
}
.load span{
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.load button{
    border: none;
    background-color: #0071c2;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;    
    text-align: center;             
}
.load button:hover{
    transform: scale(1.1);
    transition: 0.6s ;
}
.sd{
    font-size: 27px;
    color: red;
    margin-top: 50px;
    margin-left: 50px;
}
.selected-rooms{    
    width: 100%;
    min-height: 100vh;    
    overflow: scroll;
    height: max-content;        
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    align-items: center;    
    background-color: white;
    position: fixed;
    top: 10%;
    left: 0;
    padding: 20px;
}
.selected-room{
    padding: 10px;
    border: 1px solid gray;
    width: 300px;
}
.checkout-now-btn{
    margin-left: -230px;
    margin-bottom: 50px;
    
}
@media screen and (max-width:648px){
     .reserve{        
        width: 100%;
        height: 100vh;
      }
      .checkout-now-btn{
        right: 20px;
      }
    .ricon{
        margin-right: -100px;
        margin-top: 45px;
        font-size: 25px;        
    }
    .rcon{
        width: 100%;        
        height: 91vh;
        top: -3%;
    }
    .ritem{
        height: 170px;
    }
    .riteminfo{        
        margin-top: 10px;        
    }
    .room{
        display: flex;
        flex-direction: row;
    }
    .rbtn{
        width: 90%;
        margin-bottom:10px;        
    }
    .load span{        
        font-size: 33px;
    }
    .rrtitle{
        top: 10%;
        left: -12%;
        
    }
}