.navbar{
    height: 80px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.iconhovercon {
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    margin-left: -10px;
  }

  .iconname {
    position: absolute;
    bottom: -40px;
    left: -60%;
    font-size: 12px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    display: none;
    width: 82px;
    text-align: center;
    z-index: 100;
  }
  
  .iconhovercon:hover .iconname {
    display: block;
  }
  
  .iconhovercon>:nth-child(1) {
    color: rgba(0, 0, 0, 0.64);
  }
  
  .iconhovercon:hover {
    background-color: rgba(0, 0, 0, 1);    
  }
  

.navcontainer{
    width: 100%;    
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 600;    
    display: flex;        
    font-size: 30px;
}
.navbutton{
 margin-left: 20px;
 border: none;
 padding:10px;
 cursor: pointer;
color: #003580;
}

.user{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.usericon{
    font-size: 15px;
    cursor: pointer;
    
}
.user span{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
