.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.mailinputcon>input{
  width: 500px;
  height: 50px;
  padding: 15px;
  border: none;
  margin-right: 10px;
  border-radius: 10px;
}
.mailinputcon>button{
    border: none;
    background-color: blue;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px;
}
@media screen and (max-width: 648px) {
.mail{
  width: 400px;
}
.mailtitle{
  text-align: center;
}
.mailinputcon input{
  width: 200px;
}

}